
nav{
    color: $GrayishBlue;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    .logo{

    }
    .menu{
        display: flex;
        ul{
            display: flex;
            padding: 15px;
            margin: 15px;
            list-style: none;
            
            li{
                margin: 15px;
                text-decoration: none;
                color: $GrayishBlue;
            }
        }
    }
}

.front{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    
}

.pic{
        grid-area: 1 / 1 / 2 / 3;
        .imgCont{
            @include devices('desktop'){
                #mob{
                    display: none;
                }
                #desk{
                    width: 100%;

                }
            }
            @include devices('mobile'){
                #desk{
                    display: none;
                }
                #mob{
                    display: block;
                }
            }
        }
    }
    .header{
        grid-area: 2 / 1 / 3 / 2;
    }
    .content{
        grid-area: 2 / 2 / 3 / 3;
        button{
            position:absolute;
            width: 150px;
            height: 50px;
            text-transform: uppercase;
            color: $Off-white;
            background-color: $SoftRed;
            bottom: 0;
            &:hover{
                background-color: $VeryDarkBlue;
                cursor: pointer;
            }
        }
        
    }    
    .side{
        grid-area: 1 / 3 / 3 / 4;
        background-color: $VeryDarkBlue;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        h1{
            color: $SoftOrange;
        }
        h3{
            a{
                color: $Off-white;
                text-decoration: none;
                font-size: 18px;
              
                &:hover{
                    color: $SoftOrange;
                }
            }
        }
        p{
            color: $GrayishBlue;
            margin-top: 10px;
        }
    }
    .cardCont{
        .--1{
            grid-area: 3 / 1 / 4 / 2;
        }
        .--2{
            grid-area: 3 / 2 / 4 / 3;
        }
        .--3{
            grid-area: 3 / 3 / 4 / 4; 
        }
    }
